.searchdiv {
    width: 70%;
    margin: 40px auto;
}

.searchtitle {
    margin-bottom: 20px;
}

.searchResult {
    margin: 20px auto;
}

.resultfooter {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group li { 
    border: 0 none; 
}

.list-group-item a {
    text-decoration: none;
    color: #696969;
}

