<div class="searchdiv">
  <h4 class="text-center searchtitle">Hacker News Topic Search</h4>
  <!-- search input -->
  <div class="input-group">
    <input type="text" 
           [(ngModel)]="searchStr" 
           (keyup.enter)="startQuery()" 
           class="form-control" 
           placeholder="Type search topic here">
           
    <div class="input-group-append">
      <button class="btn btn-secondary" id="searchbtn" type="button" (click)="startQuery()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <!-- result area-->
  <div class="searchResult">
    <div *ngIf="iferror" class="alert alert-danger">
      There are something wrong with server, please try again later.
    </div>
    <ul *ngIf="!iferror" class="list-group">
      <li *ngFor='let item of searchResult.results' class="list-group-item py-2">
        <a href="{{item.url}}" target="_blank">{{item.title}}</a>
      </li>
    </ul>
    <!-- result footer -->
    <div [hidden]="searchResult.results.length === 0 || iferror" class="resultfooter" >
      <button class="btn btn-light" 
              [disabled]="searchResult.page === 0 || editPageNum" 
              (click)="showPreviousPage()">
                Previous
      </button>
      <span *ngIf="!editPageNum" (click)="switchPageEdit()">Page {{searchResult.showpage}} of {{searchResult.totalpage}}</span>
      <span *ngIf="editPageNum">
        Page 
        <input type="number" 
               [ngModel]="searchResult.showpage" 
               (ngModelChange)="chagePage($event)"
               [value]="searchResult.showpage" 
               (keyup.enter)="showSpecificPage()" 
               min="1" 
               [max]="searchResult.totalpage"
               required>
         of {{searchResult.totalpage}}
      </span>
      <button class="btn  btn-light"
              [disabled]="searchResult.page === (searchResult.totalpage - 1) || searchResult.showpage === null" 
              (click)="editPageNum? showSpecificPage():showNextPage()"
              [innerText]="editPageNum? 'Go': 'Next'">
      </button>
    </div>
  </div>
